@import "../../../../sassStyles/functions";
@import "../../../../sassStyles/variables";


.type {
    padding: pxToRem(14px) pxToRem(40px);
    position: relative;
    cursor: pointer;
    background-clip: padding-box;
    border: pxToRem(1px) solid transparent;
    border-radius: pxToRem(32px);

    &:hover {
        background-color: #EBEBEB;

        .input {
            background-color: #EBEBEB;
        }
    }

    .input {
        font-family: Circular;
        border: inherit;
        margin: 0;
        padding: 0;
        background: none;
        margin-top: pxToRem(-10px);
        width: 200px;
        color: $black;

        &:focus-visible {
            outline: none;
        }

        
    }
}

.title {
    font-size: pxToRem(13px);
    font-weight: 600;
    margin-bottom: pxToRem(4px);
}

.subTitle, .input {
    font-size: pxToRem(14px);
    font-weight: 100;
    color: $gray-primary;
}

.duration {
    display: flex;
}

