@import "../../../sassStyles/variables.scss";
@import "../../../sassStyles/functions.scss";


.filtersContainer  {
    top: pxToRem(-110px);
    transform:translateY(0) scale(0);
    position: absolute;
    margin-left: pxToRem(125px);

    &.active
    {
        animation: menuAppear .3s forwards;

        @keyframes menuAppear{
            from{
                transform: translate(0) scale(0);
            }
            to{
                transform: translateY(150px) scale(1);
            }
        }
    }
    &.inactive
    {
        animation: menuDisppear .3s forwards;

        @keyframes menuDisppear{
            from{
                transform: translateY(150px) scale(1);
            }
            to{
                transform: translate(0) scale(0);
            }
        }
    }  
}

.filtersType {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: pxToRem(25px);
    
    li {
        margin: 0 pxToRem(15px);
        font-size: pxToRem(16px);
        font-weight: 100;
    }
}

.filtersList {
    display: flex;
    border: pxToRem(1px) solid $gray-light;
    border-radius: pxToRem(32px);
    max-width: pxToRem(850px);
}

.researchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: pxToRem(120px);

    .researchSvg {
        background-color: $pink-primary;
        margin: 0 pxToRem(8px) 0 pxToRem(15px);
        border-radius: pxToRem(25px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: pxToRem(48px);
        height: pxToRem(48px);
        position: absolute;
        right: 0;
    }
}

.filtersOpen {
    position: absolute;
    top: pxToRem(120px);
    right: 0;
    position: absolute;
    background: $white;
    border-radius: pxToRem(32px);
    border: pxToRem(1px) solid $gray-light;
    box-shadow: 0 0 pxToRem(10px) pxToRem(2px) rgba(169, 169, 169, 0.465);
    max-width: 100%;
    z-index: 1000;
}