@import "../../../sassStyles/variables";
@import "../../../sassStyles/functions";
@import "../../../sassStyles/mixins";

.destinationsList {
    padding: 0 pxToRem(24px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: pxToRem(24px);
    margin-top: pxToRem(60px);

    @include md {
        padding: 0 pxToRem(80px);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}