@import "../../sassStyles/functions";
@import "../../sassStyles/variables";

.cardDescription {
    display: grid;
    gap: pxToRem(8px);
    font-size: pxToRem(15px);
}

.sellerStatus {
    font-weight: 100;
    color: $gray-primary;
    font-size: pxToRem(16px);
}

.date {
    font-weight: 100;
    color: $gray-primary;
}