@font-face {
    font-family: Circular;
    src: url("./../assets/fonts/CircularStd-Book.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url("./../assets/fonts/CircularStd-Light.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url("./../assets/fonts/CircularStd-Bold.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
